@tailwind base;

@tailwind components;

@tailwind utilities;

html, body, #root, #root > div {
    height: 100%
}

.bg-overlay:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
}